<div class="table-container">
  <label> ФИО
    <input value="name"/>
  </label>
  <label>Почта
    <input value="email"/>
  </label>
  <p>Адрес:</p>
  <label>Улица
    <input value="street"/>
  </label>
  <label>Дом
    <input value="suite"/>
  </label>
  <label>Город
    <input value="city"/>
  </label>
  <label>Индекс
    <input value="zipcode"/>
  </label>
  <label>Телефон
    <input value="phone"/>
  </label>
  <label>Вэб сайт
    <input value="website"/>
  </label>
  <span>company.name</span>
</div>
