<div class="table-container">
  <table>
    <tr>
      <td><label>ФИО: <input value="{{userData?.name}}"/></label></td>
    </tr>
    <tr>
      <td><label>Почта: <input value="{{userData?.email}}"/></label></td>
    </tr>
    <tr>
      <td>Адрес:</td>
    </tr>
    <tr>
      <td><label>Улица: <input value="{{userData?.address.street}}"/></label></td>
    </tr>
    <tr>
      <td><label>Дом: <input value="{{userData?.address.suite}}"/></label></td>
    </tr>
    <tr>
      <td><label>Город: <input value="{{userData?.address.city}}"/></label></td>
    </tr>
    <tr>
      <td><label>Индекс: <input value="{{userData?.address.zipcode}}"/></label></td>
    </tr>
    <tr>
      <td><label>Телефон: <input value="{{userData?.phone}}"/></label></td>
    </tr>
    <tr>
      <td><label>Вэб сайт: <input value="{{userData?.website}}"/></label></td>
    </tr>
    <tr>
      <td><span>Компания: {{userData?.company.name}}</span></td>
    </tr>
  </table>
</div>
